.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.responsive {
  max-width: 100%; }

.text-center {
  text-align: center; }

.img-circle {
  border-radius: 50%; }

* {
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }
  *::-moz-selection {
    background-color: crimson;
    color: #fff; }
  *::selection {
    background-color: crimson;
    color: #fff; }

body {
  margin: 0px auto; }

a {
  text-decoration: none;
  color: inherit; }

header {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-shadow: 0px 0px 6px #000;
  z-index: 5; }
  header nav {
    display: inline-block; }
    header nav ul li {
      color: #fff;
      text-decoration: none;
      list-style-type: none;
      display: inline-block;
      padding: 15px;
      letter-spacing: 1px;
      font-size: 15px;
      margin: 0px 50px; }
    header nav ul li:hover {
      font-weight: bold;
      color: crimson;
      transition: .4s all ease; }

.hamburger {
  visibility: hidden; }
  .hamburger .triangle {
    height: 0;
    width: 0;
    border-top: 68px solid crimson;
    border-left: 80px solid transparent;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 5; }
    .hamburger .triangle .nav {
      position: fixed;
      top: 5px;
      right: 4px; }
      .hamburger .triangle .nav .line {
        border-radius: 10px;
        height: 3px;
        width: 26px;
        margin: 5px;
        background-color: white; }
        .hamburger .triangle .nav .line:nth-child(2) {
          width: 20px;
          margin-left: 11px; }

.landing {
  position: relative;
  background-color: #fff;
  background: url(../images/back.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  z-index: 3; }
  .landing .border {
    position: absolute;
    bottom: -10px;
    width: 100%; }
  .landing .col-12 .my-logo {
    margin: 80px 0px 70px; }
  .landing .col-12 p, .landing .col-12 h4 {
    margin: 0px; }
  .landing .col-12 .name {
    font-size: 30px;
    text-transform: uppercase; }
  .landing .col-12 .designation {
    display: inline-block;
    font-size: 18px;
    background: rgba(220, 20, 60, 0.8);
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    padding: 5px 30px;
    margin: 15px 0px; }
  .landing .col-12 .line {
    border: none;
    height: 2px;
    background: #fff;
    width: 40%; }
  .landing .col-12 .circle-wrap {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .landing .col-12 .circle-wrap .circle {
      position: relative;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #4e42c3;
      margin: 0px auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      .landing .col-12 .circle-wrap .circle:hover .in-circle {
        -webkit-animation: grow .6s ease-in-out infinite alternate;
        animation: grow .6s ease-in-out infinite alternate; }

@-webkit-keyframes grow {
  0% { }
  100% {
    height: 30px;
    width: 30px; } }

@keyframes grow {
  0% { }
  100% {
    height: 30px;
    width: 30px; } }
      .landing .col-12 .circle-wrap .circle .in-circle {
        position: absolute;
        height: 0px;
        width: 0px;
        border-radius: 50%;
        background: crimson; }
      .landing .col-12 .circle-wrap .circle .arrow {
        position: absolute;
        height: 8px;
        width: 8px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 1px solid;
        border-color: transparent #fff #fff transparent;
        transition: all .5s ease-in-out; }

.about {
  background: #fff; }
  .about .container .row .col-4 img {
    height: 250px; }
  .about .container .row .col-4 .icons {
    display: none; }
  .about .container .row .col-12 {
    position: relative; }
    .about .container .row .col-12 .quote-one {
      position: absolute;
      height: 70px;
      width: 70px;
      top: 40px;
      left: 0px; }
    .about .container .row .col-12 .quote-two {
      position: absolute;
      height: 70px;
      width: 70px;
      bottom: -25px;
      right: 0px; }
    .about .container .row .col-12 h1 {
      color: #474e5d; }
    .about .container .row .col-12 .blink {
      color: crimson;
      -webkit-animation: blink .8s .5s ease infinite;
      animation: blink .8s .5s ease infinite; }

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes blink {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
    .about .container .row .col-12 .desc {
      position: relative;
      z-index: 1;
      font-size: 20px;
      line-height: 1.5;
      color: #5e5e5e; }

.resume-head {
  background: url(../images/back.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .resume-head .container {
    padding: 30px 50px; }
    .resume-head .container .row .col-6 .title {
      font-family: 'Kaushan Script', cursive;
      margin-top: 10px;
      font-size: 50px;
      color: #f8f8f8; }
    .resume-head .container .row .col-6 .alex {
      font-family: 'Alex Brush', cursive; }
    .resume-head .container .row .col-6 .josef {
      font-family: 'Great Vibes', cursive; }

.resume-body {
  background: #fff;
  color: #5e5e5e; }
  .resume-body .container .row {
    margin-top: 15px; }
    .resume-body .container .row h1 {
      text-align: left;
      border-bottom: 3px solid crimson;
      padding-bottom: 5px;
      transition: all ease .2s; }
    .resume-body .container .row .col-6 .objective .para {
      font-size: 20px;
      line-height: 1.5; }
    .resume-body .container .row .col-6 .pro-skills .outer {
      height: 20px;
      width: 180px;
      min-width: 100%;
      background: #aaa; }
      .resume-body .container .row .col-6 .pro-skills .outer .bar {
        font-size: 14px;
        color: #fff;
        height: 20px;
        background: #26a65b; }
    .resume-body .container .row .col-6 .pro-skills table {
      width: 100%;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .resume-body .container .row .col-6 .pro-skills table td {
        padding: 10px; }
        .resume-body .container .row .col-6 .pro-skills table td .bar {
          line-height: 1.5; }
        .resume-body .container .row .col-6 .pro-skills table td h3 {
          background-color: #ecf0f1;
          color: #f4511e;
          padding: 5px 0px; }
        .resume-body .container .row .col-6 .pro-skills table td .svg {
          height: 20px;
          margin: 0px 5px -3px; }
    .resume-body .container .row .col-6 .pro-skills p {
      background: #ecf0f1;
      display: inline-block;
      padding: 5px 15px;
      font-weight: bold; }
    .resume-body .container .row .col-5 .info table {
      font-size: 15px;
      width: 100%;
      border: 1px solid #5e5e5e;
      border-collapse: collapse;
      margin-top: 20px; }
      .resume-body .container .row .col-5 .info table td {
        padding: 10px 5px; }
    .resume-body .container .row .col-5 .edu-qual h3 {
      background-color: #ecf0f1;
      color: #f4511e;
      padding: 5px 0px; }
    .resume-body .container .row .col-5 .edu-qual h4 {
      color: #474e5d; }
    .resume-body .container .row .col-5 .per-skills table {
      margin: 0px auto;
      width: 95%; }
      .resume-body .container .row .col-5 .per-skills table td {
        padding: 5px; }
        .resume-body .container .row .col-5 .per-skills table td .dots-grp .dots {
          display: inline-block;
          height: 11px;
          width: 11px;
          border: 2px solid #26a65b;
          border-radius: 50%; }
        .resume-body .container .row .col-5 .per-skills table td:first-child {
          text-align: left; }
    .resume-body .container .row .col-12 h1 {
      text-align: center; }
    .resume-body .container .row .col-12 .row {
      margin-top: 60px; }
      .resume-body .container .row .col-12 .row .col-4 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .resume-body .container .row .col-12 .row .col-4 .int-icons svg {
          height: 45px; }

.contact {
  background: #26a65b; }
  .contact .container .row .col-12 {
    color: #fff; }
    .contact .container .row .col-12 h2 {
      margin: 0px; }
    .contact .container .row .col-12 .social-icon {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 40px; }
      .contact .container .row .col-12 .social-icon .fa {
        background: #fff;
        color: #26a65b;
        height: 42px;
        width: 42px;
        border: 2px solid;
        border-radius: 50%;
        line-height: 1.6;
        font-size: 25px; }
        .contact .container .row .col-12 .social-icon .fa:hover {
          -webkit-animation: jiggle 300ms ease-in-out;
          animation: jiggle 300ms ease-in-out; }

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  25% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); } }

@keyframes jiggle {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  25% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); } }
    .contact .container .row .col-12 hr {
      border: none;
      background-color: #fff;
      height: 2px;
      margin: 20px 0px; }
    .contact .container .row .col-12 .biglink {
      font-size: 24px; }

.form {
  background-color: crimson;
  margin-bottom: 50px; }
  .form .container .row .col-6 {
    color: #fff; }
    .form .container .row .col-6 .title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px; }
    .form .container .row .col-6 form {
      width: 100%;
      margin: 0px auto; }
      .form .container .row .col-6 form .contact-grp {
        padding: 0px;
        border: none; }
        .form .container .row .col-6 form .contact-grp label {
          box-sizing: border-box;
          float: left;
          width: 50%; }
          .form .container .row .col-6 form .contact-grp label:nth-child(1) {
            padding-right: 5px; }
          .form .container .row .col-6 form .contact-grp label:nth-child(2) {
            padding-left: 5px; }
      .form .container .row .col-6 form input, .form .container .row .col-6 form textarea {
        color: #fff;
        width: 100%;
        padding: 7px;
        border: 2px solid #fff;
        background-color: rgba(0, 0, 0, 0.4); }
        .form .container .row .col-6 form input:focus, .form .container .row .col-6 form textarea:focus {
          outline: none;
          background-color: rgba(0, 0, 0, 0.6); }
      .form .container .row .col-6 form .submit-btn {
        text-align: right; }
        .form .container .row .col-6 form .submit-btn [type="submit"] {
          width: 33%;
          background-color: #26a65b; }
          .form .container .row .col-6 form .submit-btn [type="submit"]:hover {
            background-color: #13532e;
            cursor: pointer; }
      .form .container .row .col-6 form label {
        display: block;
        margin-bottom: 20px; }
        .form .container .row .col-6 form label span {
          display: block; }
      .form .container .row .col-6 form textarea {
        resize: none;
        height: 150px; }

.footer {
  position: fixed;
  bottom: 0px;
  background: #4e42c3;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 0px 60px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-filter: drop-shadow(3px 3px 8px, #000);
  z-index: -1; }
  .footer .fa {
    margin-left: 6px;
    color: #f57a3d; }

.up-arrow {
  position: fixed;
  bottom: 15px;
  right: 17px;
  z-index: 5; }
  .up-arrow .circle {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: background .1s ease-in-out; }
    .up-arrow .circle:hover {
      -webkit-animation: updown 0.5s cubic-bezier(0.74, 0.1, 0.96, 0.61);
      animation: updown 0.5s cubic-bezier(0.74, 0.1, 0.96, 0.61); }

@-webkit-keyframes updown {
  0%, 100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }

@keyframes updown {
  0%, 100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
    .up-arrow .circle:active {
      background: #ccc; }
      .up-arrow .circle:active .arrow {
        border-color: #000 transparent transparent #000; }
    .up-arrow .circle .s-circle {
      position: absolute;
      height: 0px;
      width: 0px;
      border-radius: 50%;
      background: red; }
    .up-arrow .circle .arrow {
      position: absolute;
      height: 8px;
      width: 8px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 1px solid;
      border-color: #fff transparent transparent #fff;
      margin-top: 2px; }

/* For Mobiles: */
.container {
  width: 100%;
  padding: 40px 30px; }
  .container .row {
    display: block; }

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; }
  .container {
    width: 100%;
    padding: 50px; }
    .container .row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .landing .col-12 .my-logo {
    margin: 20px 0px 30px; }
  .about .container .row .col-4 .icons {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin: 0px 35px; } }

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; }
  .container {
    width: 100%;
    padding: 50px 100px; }
    .container .row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  header {
    visibility: visible; }
  .landing {
    height: 100vh; }
    .landing .col-12 .my-logo {
      margin: 15px 0px; }
    .landing .col-12 .circle-wrap {
      bottom: 20px; }
  .about .container .row .col-4 .icons {
    display: inline-block; }
  .about .container .row .col-12 .quote-one {
    height: 100px;
    width: 100px;
    top: 115px; }
  .about .container .row .col-12 .quote-two {
    height: 100px;
    width: 100px;
    bottom: -50px; }
  .about .container .row .col-12 h1 {
    font-size: 50px; }
  .about .container .row .col-12 .desc {
    font-size: 25px;
    line-height: 1.8; }
  .resume-head .container .row .col-6 .title {
    margin-top: 0px;
    font-size: 60px; }
  .resume-body .container .row .col-12 .row .col-4 .int-icons svg {
    height: 60px; }
  .resume-body .container .row .col-5 .per-skills table td .dots-grp .dots {
    height: 15px;
    width: 15px; }
  .contact .container .row .col-12 .social-icon .fa {
    height: 55px;
    width: 55px;
    font-size: 33px; }
  .contact .container .row .col-12 hr {
    margin: 40px 0px; }
  .contact .container .row .col-12 .biglink {
    font-size: 50px; }
  .form .container .row .col-12 form {
    width: 50%; } }
